<!DOCTYPE html>
<html>
  <head>
    <% include balise_head %>
    <script src="static/js/index.js"></script>
    <script src="static/js/conversion_dates.js"></script>
  </head>
  <body>
    <% include barre_navigation %>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8 blanc">
          <p style="padding-top:6px;">
            <input 
              id="recherche_discussion"
              placeholder="rechercher une discussion"
              onkeyup="rechercher();"
              class="form-control">
            </input>
          </p>
          <p>
            <span id="chargement_discussions">
              <% include chargement_discussions %>
            </span>
            <span id="retour_ajax"></span>
          </p>
        <div class="col-lg-offset-2 col-md-offset-1"></div>
      </div>
    </div>
  </body>
</html>
